.MarginTop1 {
  margin-top: 1%;
}

.MarginTop5 {
  margin-top: 5%;
}

.MarginTop10 {
  margin-top: 10%;
}

.MarginTop20 {
  margin-top: 20%;
}

.MarginTop25 {
  margin-top: 25%;
}

.MarginTop30 {
  margin-top: 30%;
}

.MarginTop40 {
  margin-top: 40%;
}
