.Roles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 6vh;
}

.Roles h3 {
  border-bottom: 3px dashed rgb(150, 150, 150);
}
.Roles h5 {
  border-bottom: 2px dashed rgb(150, 150, 150);
}