.Message0 {
  display: flex;
  background: rgb(50, 50, 50);
  padding-top: 2px;
  padding-bottom: 2px;
}

.Message0 p {
  background: rgb(50, 50, 50);
  margin-left: 5px;
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}

.Message0 .userMsg {
  overflow-wrap: break-word;
  margin-right: 10px;
}

.Message1 {
  display: flex;
  background: rgb(50, 45, 50);
  padding-top: 2px;
  padding-bottom: 2px;
}

.Message1 p {
  background: rgb(50, 45, 50);
  margin-left: 5px;
  margin-bottom: 0;
  padding: 5px 0 5px 0;
}

.Message1 .userMsg {
  overflow-wrap: break-word;
  margin-right: 10px;
}