.MultiRole {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 50vh;
  margin-bottom: 10vh;
  padding: 25px;
  font-size: 7vh;
}

.MultiReady2 {
  position: absolute;
  background-color: rgb(93, 151, 96);
  box-shadow: 0px 5px 0px 0px rgba(79, 141, 82, 0.75);
  width: 60%;
  border: 0;
  color: rgb(230, 230, 230);
  font-size: 10vmin;
  bottom: 0;
  right: 20%;
  border-radius: 5px;
  cursor: pointer;
}

.MultiReady2:hover {
  background-color: rgb(77, 163, 83);
}


.MultiNotReady2 {
  position: absolute;
  background: rgb(168, 50, 50);
  box-shadow: 0px 5px 0px 0px rgba(141, 42, 42, 0.75);
  width: 60%;
  border: 0;
  color: rgb(230, 230, 230);
  font-size: 10vmin;
  bottom: 0;
  right: 20%;
  border-radius: 5px;
}

.MultiNotReady2:hover {
  background: rgb(201, 54, 54);
}

@media only screen and (max-width: 800px) {
  .MultiReady2 {
    width: 100%;
    right: 0;
  }

  .MultiNotReady2 {
    width: 100%;
    right: 0;
  }
}